@charset "utf-8";

body {
	background: #E2E2E2;
}

/*测试类*/
#text {
	background: #81d8df;
}

/*整体宽度容器*/
.container {
	margin: 0 auto;
	width: 1170px;
	overflow: hidden;
	color: #919191;
}

/*解决高度塌陷*/
.clearfix:after{
				content: '';
				display: block;
				clear: both;
			}
/*header-top部分*/
.header-top{
	background: #F2F2F2;
	height: 44px;
	border-bottom: 1px solid #b5b5b5;
	box-shadow: 0 1px 1px rgba(0,0,0,.25);
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,.25);
}
/* 左侧 */

.header-top  .left {
	float: left;
	width: 50%;
	padding: 15px auto;
}

.header-top .left > div ,.header-top .right > div{
	float: left;
	height: 32px;
	line-height: 32px;
}

.header-top .iconOuter {
	width: 32px;
	background: #919191;
	border-radius: 50%;
	margin-top: 6px;
}

.header-top .iconInner {
	width: 28px;
	height: 28px;
	background: #F2F2F2;
	border-radius: 50%;
	margin-left: 2px;
	margin-top: 2px;
	line-height: 28px !important;
	font-size: 16px;
	text-align: center;
}

.header-top .vistorCount {
	font-size: 18px;
	font-weight: 700;
	/*font-weight: bold;700相当于bold*/
	padding: 6px 10px;
	color: #5A5A5A;
}

.header-top .openTime {
	margin-top: 6px;
	font-size: 12px;
}

/* 右侧 */
.header-top .right{
	width: 50%;
	float: right;
}

.header-top .right .bgColor{
	background: #FA6F57;
	color: #FA6F57;
}

.header-top .right .iconOuter {
	float: right;
	margin-right: 8px;
}
/*搜索框容器*/
.header-top .searchWrapper {
	float: right !important;
	margin: 8px;
	width: 240px;
	background: #919191;
	border-radius: 20px;
}
/*搜索框*/
.header-top .searchBox  {
	background: #fff;
	width: 232px;
	height: 24px;
	margin: 4px auto;
	padding: 0;
	border-radius: 20px;
	position: relative;
}

.header-top .searchBox span {
	position: absolute;
	top: 6px;
	left: 6px;
	width: 22px;
	height: 24px;
} 

.header-top .searchBox span:hover {
	color: #FA6F57;
}



.header-top .searchBox input {
	display: block;
	float: right;
	width: 196px;
	background: #fff;
	outline: none;
	border: none;
	height: 20px;
	padding: 2px;
	position: absolute;
	margin-left: 22px;
}

/*////////////////////////////////////2016.10.20*/

/*顶部logo+导航*/
.navWrapper {
	width: 1170px;
	height:120px;
	margin: 10px auto 0px;
	overflow: hidden;
}

/*logo*/
.navWrapper .navLogo {
	float: left;
	width: 20%;
	margin-top: 40px;
}

/*菜单*/
.navWrapper {
	position: relative;
}

.navWrapper .navMenu {
	float: right;
}

/*节令选择*/
.choice span {
	float: right;
	height: 18px;
	width: 36px;
	margin-right: 10px;
	background: #eee;
	text-align: center;
	line-height: 18px;
}

.choice span a {
	clear: #eee;
}

.navWrapper .menu {
	width: 80%;
	position: absolute;
	right: 0px;
	bottom: 8px;
}
/*菜单导航*/

.menu ul li {
	float: right;
	margin: 0 8px;
	padding:2px 5px;
} 

.menu ul li a {
	width: 100px;
	height: 40px;
	display: block;
	line-height: 40px;
	text-align: center;
	border-radius: 2px;
	font-size: 16px;
	letter-spacing: 2px;
	font-weight: bold;
	color:#FA6F57;
	transition:all 0.6s;
}

.menu ul li a:hover {
	background: #FA6F57;
	color: #FFF;
}

/*banner区*/
#banner {
	width: 100%;
	height: 492px;
	position: relative;
	overflow: hidden;
	text-shadow: 0 2px 5px rgba(0,0,0,0.5)
}	 

#banner #imgs {
	transition:all 0.4s;
}

#banner ul {
	width:6830px;
	position: absolute;
}

#banner ul li {
	/*1349+滚动条刚好一个屏宽*/
	width: 1366px;
	height: 500px;
	float: left;
	background: #FA6F57;
	position: relative;
	overflow: hidden;
}

#banner ul li img {
	display: block;
	width: 100%;
}

/* 左右切图按钮 */

#banner > div {
	opacity: 0;
	width: 32px;
	height: 32px;
	position: absolute;
	top: 50%;
	transition:all 0.4s;
}

#banner .prev {
	left: 60px;
}

#banner .next {
	right: 60px;
}

#banner:hover .prev {
	opacity: 1;
	display: block;
	left: 80px;
}

#banner:hover .next {
	opacity: 1;
	display: block;
	right: 80px;
}

/*按钮悬停*/
#banner > div > a {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: #fff;
	text-align: center;
	line-height: 32px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1) inset;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1) inset;
	font-size: 12px;
	color: #333;
	transition:all 0.4s;
	position: absolute;
	top:50%;
}

#banner > div > a:hover {
	background: #333;
	color: #fff;
}

/*点选条*/
#changeBar {
	right: 40px;
	bottom: 20px;
	background: #1f1f1f;
	background: rgba(0,0,0,0.3);
	padding: 6px 10px;
	position: absolute;
	border-radius: 12px;
}

#changeBar li {
	display: inline-block;
	vertical-align: middle;
}
#changeBar li a {
	display: block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #fff;
	cursor: pointer;
	border: 3px solid transparent;
	transition:all 0.2s;
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

/* 高亮 */
#changeBar li .active {
	border: 3px solid #FA6F57;
}

#changeBar li a:hover {
	border: 3px solid #FA6F57;
}

/* 图片文字区:一区 */
#banner .textContainer {
	border-radius: 1px;
	width: 600px;
	height: 300px;
	position: absolute;
	left: 580px;
	top: 130px;
	color: #fff;
	text-align: center;
	text-shadow: 0 2px 5px rgba(0,0,0,0.5);
	font-weight: 600;
	background: rgba(0,0,0,.4);
}

/* 动画 */
@keyframes  topAni{
	to {
		left:50%;
		transform:translate(-50%);
	}
}

@keyframes  midAni{
	to {
		left:50%;
		transform:translate(-50%);
	}
}

@keyframes  bottomAni{
	to {
		opacity: 1;
	}
}

@-webkit-keyframes  topAni{
	to {
		left:50%;
		transform:translate(-50%);
	}
}

@-webkit-keyframes  midAni{
	to {
		left:50%;
		transform:translate(-50%);
	}
}

@-webkit-keyframes  bottomAni{
	to {
		opacity: 1;
	}
}

.textContainer .top {
	position: absolute;
	left: -1360px;
	font-size: 18px;
}

.activeTop {
	-webkit-animation: topAni 0.6s 0.6s forwards;
	-o-animation: topAni 0.6s 0.6s forwards;
	animation: topAni 0.6s 0.6s forwards;
}

.activeMid {
	-webkit-animation: midAni 0.6s 1s forwards;
	-o-animation: midAni 0.6s 1s forwards;
	animation: midAni 0.6s 1s forwards;
}

.activeBottom {
	-webkit-animation: bottomAni 0.6s 1.8s forwards;
	-o-animation: bottomAni 0.6s 1.8s forwards;
	animation: bottomAni 0.6s 1.8s forwards;
}

.textContainer .mid {
	position: absolute;
	right: -800px;
	margin-top: 40px;
	font-size: 72px;
}

.textContainer .bottom {
	width: 100%;
	position: absolute;
	opacity: 0;
	top: 160px;
	font-size: 20px;
}

.bottom  a {
	font-size: 14px;
	display: block;
	position: static;
	border-radius: 4px;
	background: #FA6F57;
	color: #fff;
	width: 108px;
	line-height: 34px;
	margin: 20px auto;
}

.bottom a:hover {
	margin-top: 21px;
	background: #f9654c;
	box-shadow: 0 2px 3px rgba(0,0,0,.2) inset;
}

/* 图片文字区2 */
#second {
	text-align: center;
	width: 1000px;
	height: 280px;
	margin: 80px auto;
	position: relative;
	font-weight: 600;
}

#second > p {
	color: #fff;
}

#second span {
	display: inline-block;
	background: #fff;
	color: #FA6F57;
	position: absolute;
	width: 240px;
	height: 240px;
	border-radius: 50%;
	top: 20px;
}

#second .left {
	left: -500px;
}

#second .right {
	right: -500px;
}

#sale {
	font-size: 160px;
	letter-spacing: 5px;
	line-height: 1;
	display: none;
}

#second i {
	font-style: normal;
	position: relative;
	left: 20px;
}

#second .right + p {
	display: none;
	font-size: 36px;
	line-height: 1.75;
	position: absolute;
	top: 180px;
	left: 250px;
}

#second span p {
	text-shadow: none;
	font-size: 50px;
}

#second .top {
	margin-top: 50px;
}

/*图片文字3区*/
#third {
	width: 530px;
	background: rgba(250,111,87,0.4);
	position: absolute;
	right: 0;
	top: 60px;
	text-align: center;
	color: #fff;
}

#third p {
	width: 100%;
	position: absolute;
	right: 0;
	background: rgba(0,0,0,.3);
	line-height: 1;
}

#third .top {
	top: 500px;
	font-size: 72px;
	padding: 15px 32px;
}

#third .bottom {
	position: absolute;
	top: 600px;
	font-size: 42px;
	padding: 15px 16px;
}

/*main区*/
#main {
	overflow: hidden;
	margin: 40px auto;
	width: 1170px;
}

#main ul {
	width: 1197px;
}

#main ul li {
	width: 370px;
	height: 250px;
	border: 1px solid #dedede;
	box-shadow: 0 0 5px rgba(0,0,0,.15);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.15)	;
	margin-right: 27px;
	border-radius: 1px;
	float: left;
	position: relative;
}

/*left*/
#main #picLeft {
	background: #FA6F57;
	text-align: center;
	color: #fff;
}
/**/
#main #coverUp {
	font-size: 72px;
	display: table;
	width: 100%;
	height: 75%;
	transition:all 0.4s;
}

#coverUp h6 {
	background: rgba(0,0,0,.1);
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
}

#main #coverDown {
	overflow: hidden;
	position: absolute;
	background: rgba(0,0,0,.1);
	bottom: 0;
	width: 100%;
	height: 25%;
	transition:all 0.4s;
}

#picLeft:hover #coverDown {
	height: 75%;
}

#picLeft:hover #coverUp {
	height: 25%;
	font-size: 36px;
}

#main h1,h2 {
	margin-top: 10px;
	font-size: 36px;
	line-height: 48px;
	font-weight:600;
}

#main h1 .left {
	color: #000;
}

#main h2 {
	color: #000;
}

#main h3 {
	margin-top: 10px;
	font-size: 16px;
}
/*图2*/
#main #picCenter {
	background: url(../img/images/demo/P2200214.jpg) no-repeat;
	background-size: cover;
}

#picCenter div {
	background: rgba(255,255,255,.7);
	position: absolute;
	top: 50%;
	width: 100%;
	color: #000;
	text-align: center;
	font-weight: 600;
}

#picCenter h4 {
	margin: 10px 0 5px;
	font-size: 12px;
}

#picCenter h5 {
	color: #1f1f1f;
	font-size: 16px;
}

#picCenter p {
	cursor: pointer;
	margin: 20px 0;
	font-weight: 400;
	color: #666;
}
#picCenter p:hover {
	color: #919191
}


/*图3*/
#main #picLast {
	text-align: center;
	color: #fff;
	background: #1f1f1f;
	font-weight: 700px;
}

#picLast .textColor {
	color: #FA6F57;
}

#picLast h1 {
	margin-top: 90px;
	font-size: 36px;
}

#picLast h2 {
	font-weight: 500;
	color: #fff;
	font-size: 16px;
}

/*女装区*/
#female {
	height: 800px;
	/*background: #E0E0E0;*/
	background: #FA6F57;
	border-top: 6px solid #d9d9d9;
	border-bottom: 6px solid #d9d9d9;
}
/*宽度控制*/
.width {
	width: 1170px;
	margin: 0 auto;
	background: #0cc;
}
#female .header {
	text-align: center;
	margin: 60px auto 30px;
}

#female .header h1 {
	font-size: 24px;
	font-weight: 700;
	color: #1f1f1f;
}

#female .header h2 {
	position: relative;
	top: -10px;
	font-size: 12px;
	color: #676767;
}

/*图片*/
#female .feChange {
	
}